body {
    background-color: #F2F2F2;
}

#liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    width: 100vw;
    margin: 0 auto;
}

img {
    width: 100%;
}

nav {
    text-align: center;
    line-height: 40px;
    margin: 30px;
    cursor: pointer;
}

nav .filter {
    display: inline-table;
    border-top: 3px black solid;
    color: #343333;
    padding: 15px;
    margin: 10px;
    font-size: 1.2rem;

    font-family: 'Open Sans Condensed', sans-serif;
}

nav .filter:hover {
    border-bottom: 3px black solid;
    border-top: none;
}

.back {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    cursor: pointer;
}

.logo_menu {
    background-image: url(imgs/logo_tusci.svg);
    height: 120px;
    width: 200px;
    background-size: 120px;
    background-repeat: no-repeat;

    position: absolute;
    top: 510px;
    left: 80%;
}

.price {
    text-align: right;
    font-style: italic;
}

.valgt {
    border-bottom: 3px black solid;
}

.visteRetter {
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    box-shadow: 7px 7px 10px 1px #c6c6c6;
    background-color: white;
    cursor: pointer;
}

.visteRetter:hover {
    padding: 5px;
}

h1 {
    text-align: center;
    font-family: 'futura-pt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.2rem;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.hidden {
    display: none;
}

#indhold {
    box-sizing: border-box;
    width: 90vw;
    height: 90vw;
    margin: auto;
}

#luk {
    box-sizing: border-box;
    padding-right: 50px;
    color: white;
    z-index: 2;
    text-align: right;
}

#popup {
    background-color: rgba(235, 235, 235, 0.94);
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 10px;
    z-index: 3;
    border-radius: 10px;
    top: 2vw;
    text-align: center;
}

/*-------------------MENUKORT-------------------*/

.menu_billede {
    background-image: url("imgs/pasta_front.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
